@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}

html {
min-width: 550px;
position: relative;
}


.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
ul#horizontal-list li {
		display: inline;
  }

#navigation{
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 50px;
  background: purple;
  border-color: purple;
  border-style: groove;
}


#navigation li{
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 209px;
  float: left;
  margin: 3px;
  margin-top: auto;
  margin-bottom: auto;
  border: 2.5px solid purple;
  background: yellow;
}

#navigation li:hover{
  background: purple;
  border-color: yellow;
}

#navigation li:hover a{
  color: white;
}

#navigation li:active{
  background: purple;
}

#navigation li:active a{
  color: white;
}

.totality{
  width: 100%;
}

.banner{
  text-align: center;
  color: purple;
  margin-top: 10%;
}

.centered-banner{
  text-align: center;
  color: rebeccapurple;
}

a{
  text-decoration: none;
  color: purple;
}

.corner-pic{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 64%;
}

.centered-stuff{
  float: none;
  margin-left: 40%;
}

.image-school{
  width: 35%;
}

.textually{
  width: 45%;
  margin-left: 5%;
  background-color: orange;
  border: 3px groove black;
}
